.select__control {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid rgb(64 64 64) !important;
  color: #64748b !important;
}
.select__placeholder {
  color: #64748b !important;
}

.placeholderStyles {
  color: #64748b !important;
}

.select__menu {
  background-color: black !important;
  border: 1px solid rgb(64 64 64) !important;
  color: #64748b !important;
}
